body{
    background-color: #171E25;
    color: white;
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    /* padding: 0px 200px 0px 200px; */

}

/* NORMALIZER-----------------------------------------------------------*/
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(200, 200, 200);
}


/* NORMALIZER-----------------------------------------------------------*/

/* MENU-----------------------------------------------------------------*/

#header{
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin: 0px;
    width: 100vw;
    margin-left: -17px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(200, 200, 200);
}

#btn_mobile{
    display: none;
}

#menu{
    display: flex;
    gap: .5rem;
    list-style: none;
}

#menu a{
    display: block; 
    padding: .5rem;
}

/* MENU-----------------------------------------------------------------*/

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 170px 0;
}
.main__title{
    font-size: 80px;
    text-align: center;
}
.main__title::after{
    content: '|';
    margin-left: 1px;
    opacity: 0;
    animation: blink .7s 3.5;
}

@keyframes blink{
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

.main li{
    display: inline-block;
}
.portifolio{
    display: inline-block;
}


.portifolio__text, .portifolio__container {
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    color: black;
    padding: 10px;
}
.portifolio__container{
    text-align: center;
}
.container__title{
     text-align: left;
}

.text_link, .portifolio_link{
    font-size: 1.2em;
    background-color: #171E25;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    width: 200px;
    padding: 10px 0;
    text-transform: uppercase;
}
.container__cards{
    display: inline-block;
    width: 100%;
    
}

.card_1, .card_2{
    color: white;
    width: 280px;
    display: inline-block;
    background-color: #171E25;
    text-align: left;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px 10px;
}
.card_2{
    display: none;
}
.card{
    position: relative;
}
.card:hover{
    box-shadow: 0px 0px 4px 1px #000000;
}
.card_link_all{
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 20px;
}

.card_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button_link{
    width: 10%;
    border-radius: 50px;
    background-color: white;
    padding: 5px 5px ;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 1000;
    position: relative;
    transition: 2.0s;
}
.button_link.active p {
   display: inline-block;
   transition: 2.0s;
}
.button_link.active{
    width: 60%;
    transition: .8s;
}

.button_link p{
    /* background-color: #E54C21; */
    color: #171E25;
    text-align: center;
    

    margin: 0px;
    padding-left: 5px;
    white-space: nowrap;
}
.button_link img{
    border-radius: 50px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.button_link_all{
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 50px;
}
.tag_html{
    background-color: #E54C21;
    border-radius: 50px;
    padding: 0px 10px;
}
.tag_css{
    background-color: #0070BA;
    border-radius: 50px;
    padding: 0px 10px;
}

.footer{
    text-align: center;
    border-top: 1px solid rgb(200, 200, 200);
    background-color: #282828;
    width: 100%;
    position: absolute;
    left: 0;
}



@media (max-width:600px){
    body{
        margin: 0px;
        padding: 0px;
    }
    #header{
        background-color: #171E25;
        justify-content: left;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        margin: 0;
        border-bottom: 1px dotted rgb(200, 200, 200);
    }

    #btn_mobile{
        margin-left: 10px;
        display: block;
        background-color: #171E25;
        border: none;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        height: 0px;
        background-color: #171E25;
        visibility: hidden;
        transition: .6s;
        z-index: 1000;
        overflow: hidden;
    }
    #menu li a{
        padding: 20px;
        text-align: center;
        border-bottom: #242d36 2px solid;
        transition: 0.6s ease;

        
    }
    #menu li a:hover{
        background-color: #242d36;
        color: white;
    }
    #nav.active #menu{
        visibility: visible;
        height: 100vh;
        /* height: 268px; */
        /* display: block; */
    }
    .main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 170px 0;
    }
    .main__title{
        font-size: 30px;
        text-align: center;
    }
    .main li{
        display: inline-block;
    }
    .portifolio{
        display: inline-block;
    }
    .portifolio__text, .portifolio__container {
        background-color: white;
        border-radius: 20px;
        margin: 10px;
        color: black;
        padding: 10px;
    }
    .portifolio__container{
        text-align: center;
    }
    .container__title{
         text-align: left;
    }
    .card_2{
        display: none;
    }
    /* .footer{
        display: inline-block;
        text-align: center;
        width: 100%;
        border-top: 1px dotted rgb(200, 200, 200);
        position: static;
    } */
}

.button_link{
    width: 60%;
}

@media (min-width:768px){
    .portifolio{
        display: flex;
        justify-content: space-around;
    }
    .portifolio__text, .portifolio__container {
        width: 350px;
        background-color: white;
        border-radius: 20px;
        margin: 10px;
        color: black;
        padding: 10px;
    }
    .portifolio__text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
@media (min-width:992px){
    .card_2{
        display: inline-block;
        text-align: center;
    }
    .container__cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }
    .portifolio__text{
        width: 30%;
    }
    .portifolio__container{
        width: 70%;
    }

}