body{
    background-color: #012840;
    color: #D0F2F2;
    font-family: 'Rubik', sans-serif;
    margin: 0px;
    /* padding: 0px 200px 0px 200px; */

}

/* NORMALIZER-----------------------------------------------------------*/
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #D0F2F2;
}
/* NORMALIZER-----------------------------------------------------------*/

/* MENU-----------------------------------------------------------------*/
.header{
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #175973;
    display: inline-block;
    height: 70px;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    z-index: 20;
}

.logo{
    display: inline-block;
}

.logo img{
    height: 70px;
}
.nav{
    width: 50%;
    float: right;
}

#btn_mobile{
    float: right;
    display: none;
}

#menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#menu a{
    display: inline-block; 
    padding: 23px;
    white-space: nowrap;
}
#menu a:hover{
    color:white;
    transition: color .8s;
}

/* MENU-----------------------------------------------------------------*/

.main{
    margin-top: 70px;
    
}

.container_title{
    font-size: 32px;
    padding: 20px;
}

.text{
    display: inline-block;
    text-align: justify;
    background-color: #012840;
    padding: 20px;
    
}
.text p{
    width: auto;
    display: block;
    color: #D0F2F2;
}
.text h2{
    color: #D0F2F2;
}
.foto{
    display: block;
    float: right;  
    margin: 20px;
    text-align: center;
}
.foto img{
    border-radius: 200px;
    width: 250px;
    height: 250px;
}
.footer{
    text-align: center;
    background-color: #175973;
    width: 100%;
    position: absolute;
    left: 0;
}

@media (max-width:992px){ /*ABAIXO DE 992PX!!!*/

    #header{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }

    #btn_mobile{
        display: inline-block;
        margin: 0px;
        padding: 0px;
        border: none;
    }
    #btn_mobile a{
        display: inline-block;
        background-color: #175973;
        padding: 21px;
    }
    
    
    #menu{
        display: inline-block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        height: 0px;
        background-color: #175973;
        visibility: hidden;
        transition: .6s;
        overflow: hidden;
    }
    #menu li a{
        width: 100%;
        padding: 20px;
        text-align: left;
        transition: 0.6s ease;   
    }
    #menu li a:hover{
        background-color: #012840;
        color: white;
    }
    #nav.active #menu{
        visibility: visible;
        height: 100vh;
    }
}

@media (max-width:500px){
    .text p{
        width: 100%;
        display: inline-block;
    }
    .foto{
        float: none;
    }
}